hydra:
  searchpath:
    - file://external/verl/verl/trainer/config

defaults:
  - ppo_trainer
  - _self_

data:
  max_prompt_length: 1024
  max_response_length: 1024
  train_batch_size: 256
  val_batch_size: 256
  return_raw_chat: True

actor_rollout_ref:
  hybrid_engine: True
  rollout:
    name: vllm
    mode: async
    multi_turn:
      enabled: True
      format: llama3_json
    custom_dataflow_cls:
      path: ""
      name: ""
    use_qwen3: True
    max_env_worker: 64

thread_pool:
  max_workers: 5

env_service:
  env_type: "appworld"
  env_url: "http://127.0.0.1:8000"

experience_maker:
  base_url: "http://127.0.0.1:8001"
  workspace_id: "w1_agentflow"
  enable_summarizer: False
  enable_context_generator: False
  retrieve_top_k: 3
